* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-color1 {
  color: red;
}

.text-color2 {
  color: green;
}

.text-color3 {
  color: blue;
}

.btn {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-color1 {
  background-color: red;
  color: white;
}

.btn-color2 {
  background-color: green;
  color: white;
}

.btn-color3 {
  background-color: blue;
  color: white;
}

.mt-1 {
  margin-top: 30px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 10px;
}

.bg-color1 {
  background-color: red;
}

.bg-color2 {
  background-color: green;
}

.bg-color3 {
  background-color: blue;
}

.pl-1 {
  padding-left: 30px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 10px;
}

.fs-1 {
    font-size: 30px;
}

.fs-2 {
    font-size: 20px;
}

.fs-3 {
    font-size: 10px;
}