<nav class="d-flex justify-content-between align-items-center p-2 bg-light">
  <ul
    class="d-flex justify-content-between align-items-center column-gap-2 list-unstyled"
  >
    <li>
      <a href="/" class="text-decoration-none text-uppercase text-black">
        Home
      </a>
    </li>
    <li>
      <a href="/dashboard" class="text-decoration-none text-uppercase text-black"> Dashboard </a>
    </li>
    <li>
      <a
        href="/produtos"
        class="text-decoration-none text-uppercase text-black"
      >
        Produtos
      </a>
    </li>
    <li>
      <a
        href="/servicos"
        class="text-decoration-none text-uppercase text-black"
      >
        Serviços
      </a>
    </li>
  </ul>
  <ul
    class="d-flex justify-content-between align-items-center column-gap-2 list-unstyled"
  >
    <li>Olá John Doe</li>
    <li>
      <a href="" class="text-decoration-none text-uppercase text-black">
        Sair
      </a>
    </li>
  </ul>
</nav>
