* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #f3f3f3;
  padding: 25px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
