.div1 {
  background-color: red;
  color: yellow;
  font-size: 20px;
  padding: 50px;
  border: 1px solid blue;
  border-radius: 50px;
}
.div2 {
  background-color: red;
  color: yellow;
  font-size: 20px;
  padding: 50px;
  border: 1px solid blue;
  border-radius: 50px 100px;
}
