<div
  class="d-flex justify-content-between align-items-center p-3 bg-light border-bottom"
>
  <div>
    <a href="/" class="text-black text-decoration-none"> Dashboard </a>
    &nbsp;
    <a href="/produtos" class="text-black text-decoration-none"> Produtos </a>
  </div>
  <div>
    <a href="/logout" class="text-black text-decoration-none"> Sair </a>
  </div>
</div>
