<div class="d-flex justify-content-between align-items-center bg-light p-3 border-bottom mb-3">
  <div class="d-flex column-gap-3">
    <a href="/" class="text-decoration-none text-uppercase text-black">
      Home
    </a>
    <a href="/dashboard" class="text-decoration-none text-uppercase text-black">
      Dashboard
    </a>
    <a href="/produtos" class="text-decoration-none text-uppercase text-black">
      Produtos
    </a>
    <a href="/categorias" class="text-decoration-none text-uppercase text-black">
      Categorias
    </a>
  </div>
  <div class="d-flex column-gap-3">
    <span>Olá John Doe</span>
    <a href="/logout" class="text-decoration-none text-uppercase text-black">
      Sair
    </a>
  </div>
</div>
